html, body{
  	height: 100vh;
  	font-family: 'Open Sans', sans-serif;
  	width: 100vw;
  	margin: 0;
    scroll-behavior: smooth;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.me{
	justify-content: flex-start;
	color: #809fff;
	padding:0 10px;
	line-height: 30px;

}
a{
	transition: 0.3s;
}
a:visited{
	color: #809fff;
}
a:hover{
	color: #000d33;
}
.burger{
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	width: 50px;
	display: none;
}
header .burger img{
	width:40px;
	height: 40px;
	margin-top: 5px;
	margin-left: 5px;
}

header {
	background:transparent;
	opacity : 0.9;
	position: fixed;
	width: 100%;
	opacity: 1;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}
nav{ display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;
}
ul{
	margin:0;
	padding:0 10px;
}
a:link{
	text-decoration:none;
	color: #809fff;
}
.enfant{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
    font-size: 2em;
}
.photo{
	background-image: url("images/home4.jpg");
	height: 58vh;
	background-size: cover;
	display: flex;
	width: 100vw;
	flex-direction: column;
	text-align: center;
	position: relative;
	z-index: 4;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.name{
	margin-top: 22vh;
	color: white;
	font-size: 2.4em;
	font-weight: bold;
}
.nom{
	color: white;
	font-size: 1.2em;
}
.school{
	color: white;
	font-size: 0.9em;
	font-weight: bold;
}
.accueil{
	color: black;
	height: 80vh;
	width: 100vw;
	background:  #ffffff;
	opacity: 1;
	position: relative;
	overflow: hidden;
	display: flex;
}
.ded{
	position: absolute;
	bottom:0;
	background-color:#f7f4f4;
	height: 60vh;
	width: 100vw;
	transform: skewY(-25deg);
	transform-origin: right;
	overflow: hidden;
}
.dedansdededans{
	position: absolute;
	background-color:#efeded;
	height: 150vh;
	width: 151vw;
	transform:skewY(50deg);
	transform-origin: center;
}
.aboutme{
	color: black;
	background-color: white;
	height: 80%;
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
}
.text{
	height: 80%;
	width: 80%;
	z-index: 10;
	margin-top: 10%;
	margin-left: 10%;
}
.skill{
	color: black;
	background-color: white;
	height: 80%;
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
}
.contact{
	color: black;
	background-color: white;
	height: 80%;
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
}